@import './base.css';

@font-face {
  font-family: 'Ryman Eco';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('Ryman Eco'), url('../../public/fonts/Ryman Eco/RymanEco-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'DM Sans'; 
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('DM Sans'), url('../../public/fonts/DM Sans/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans Light'; 
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('DM Sans Light'), url('../../public/fonts/DM Sans/DMSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans ExtraLight'; 
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('DM Sans ExtraLight'), url('../../public/fonts/DM Sans/DMSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans Thin'; 
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('DM Sans Thin'), url('../../public/fonts/DM Sans/DMSans-Thin.ttf') format('truetype');
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
